#content
    background-color: #FCFCFC
body
    font-family: "Montserrat"
    font-weight: 400
    font-size: 18px
    color: rgb(24, 24, 24)

.smooth-scroll
    overflow: hidden

html.has-scroll-smooth
    overflow: hidden
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0

.smooth-scroll
    perspective: 1px

*
    box-sizing: border-box
    margin: 0
    padding: 0

ul
    padding-left: 0
    margin: 0

li
    list-style-type: none

a
    text-decoration: none
    color: #18191B

.container
    max-width: 1250px
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto
    .row
        display: flex
        flex-wrap: wrap
        margin-left: -15px
        margin-right: -15px
        >div, > form
            padding-left: 15px
            padding-right: 15px
.col-50
    width: 50%
.col-100
    width: 100%
.col-33
    width: 33.33333%

h4
    font-size: 24px
    font-weight: 700
    margin-bottom: 31px

[data-animation-top]
    transition: 1s ease
    transition-property: opacity, transform
    transform: translateY(120px)
    opacity: 0
[data-animation-top].is-inview
    transform: translateY(0)
    opacity: 1

.petal[data-scroll]
    transition: .5s ease opacity .3s
    opacity: 0
    z-index: -1
    &.is-inview
        opacity: 1

.number-wrapper
    transition: .5s ease opacity
    opacity: 0
    &.scrolled
        opacity: 1

.digit-outer
    margin-bottom: 31px
    &:last-child
        margin-bottom: 0
    .top span
        font-size: 48px
        color: rgb(42, 75, 182)
        font-weight: 900

.btn
    outline: none
    border: none
    border-radius: 10px
    transition: .3s ease
    transition-property: color, background, border, opacity
    cursor: pointer
    &[disabled]
        opacity: .3

form.__default
    >div
        margin-bottom: 20.5px
    label
        span
            padding-left: 18px
    input
        display: block
        height: 50px
        padding-left: 18px
        margin-top: 10px
        font-size: 18px
        font-family: "Montserrat"
        font-weight: 400
        outline: none
        border: none
        background: rgba(190, 190, 190, 0.1)
        border-radius: 10px
        width: 100%
        &::placeholder
            color: rgba(24, 25, 31, 0.3)
    .btn
        width: 100%
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        font-family: "Montserrat"
        font-weight: 400
        font-size: 18px
        border-radius: 10px
        &.__blue
            background: rgb(0, 71, 187)
            color: #fff
            border: 1px solid transparent
            &:hover
                background: #fff
                color: rgb(0, 71, 187)
                border: 1px solid rgb(0, 71, 187)
    .notification
        max-width: 315px
        text-align: center
        font-size: 16px
        margin: 0 auto
        margin-top: 21px
        span
            color: rgb(0, 71, 187)
            text-decoration: underline
            cursor: pointer
.socials
    a
        width: 40px
        height: 40px
        display: inline-flex
        justify-content: center
        align-items: center
        border: 1.33px solid rgb(255, 255, 255)
        border-radius: 100%
        transition: 0.5s cubic-bezier(0.9, 0.1, 0.25, 1) transform
        &:not(:first-child)
            margin-left: 23px
        &:hover
            transform: scale(.9)

[data-overlay]
    cursor: pointer

@media screen and (max-width: 991px)
    .col-50, .col-33
        width: 100%
    h4
        font-size: 20px
    form.__default label span
        font-size: 16px
    form.__default input
        font-size: 16px
    iframe.video
        height: 200px