footer
    padding-top: 62px
    padding-bottom: 25px
    background: rgb(0, 71, 187)
    color: #fff
    margin-top: 70px
    a
        color: #fff
    .a-logo
        img
            width: 413px
    .socials
        margin-top: 22px
    .top, .bottom
        display: flex
        justify-content: space-between
    .top
        .__right
            text-align: right
            ul
                li
                    margin-bottom: 6px
    .bottom
        margin-top: 30px
        font-size: 14px
        font-weight: 500
        span:nth-child(2)
            opacity: .5
            font-weight: 400
            cursor: pointer

@media screen and ( max-width:  991px)
    footer
        text-align: center
        padding-bottom: 50px
        .a-logo img
            width: 200px
        .top, .bottom
            flex-direction: column
        .top
            .__right
                margin-top: 60px
                text-align: center
                font-size: 16px
        .bottom
            margin-top: 50px
            span
                margin-bottom: 5px
        .socials
            margin-top: 35px        
