header
    position: absolute
    width: 100%
    padding-top: 32px
    .container
        display: flex
        align-items: center
        justify-content: space-between
    nav
        ul
            display: flex
        li
            margin-left: 16px
            a
                color: #fff
                font-size: 20px
                height: 35px
                display: flex
                align-items: center
                padding-left: 18px
                padding-right: 18px
                border: 1px solid rgba(255, 255, 255, 0.4)
                border-radius: 80px
                transition: .5s ease border
                &:hover
                    border-color: #fff
.burger-menu
    display: none
@media screen and (max-width: 991px)
    header
        .a-logo img
            width: 140px
        nav
            display: none
    .burger-menu
        display: block
        position: absolute
        right: 15px
        span
            background: #fff
            border-radius: 2px
            height: 2px
            transition: .3s ease-in-out
            width: 24px
            display: block
            &:not(:first-child)
                margin-top: 3px
