.overlay
    position: fixed
    left: 0
    top: 0
    background: #000000ad
    width: 100%
    height: 100%
    display: none
    justify-content: center
    padding-top: 70px
    padding-bottom: 30px
    color: #fff
    overflow: auto
    &.personal-agreed
        z-index: 11
        .modal
            max-width: 712px
    &.leave-request
        z-index: 10
        .modal
            max-width: 472px
            padding-bottom: 31px
            label
                margin-bottom: 17.5px
                display: block
                input
                    background: rgb(0, 56, 148)
                    color: #fff
                    &::placeholder
                        color: rgba(255, 255, 255, 0.3)
            .btn
                border: 1px solid rgb(255, 255, 255)
                margin-top: 47px
            .notification
                opacity: 0.7
                margin-top: 12px
                span
                    color: #fff
    .modal
        position: relative
        padding: 55px
        background: rgb(0, 71, 187)
        border-radius: 20px
        height: fit-content
        width: 100%
        h2
            margin-bottom: 30px
            font-size: 24px
            font-weight: 700
        h2, p
            text-align: center
    .cross
        position: absolute
        cursor: pointer
        top: 24px
        right: 26.5px
        transition: .5s ease transform
        &:hover
            transform: rotate(45deg)

@media screen and (max-width: 991px)
    .overlay
        padding-top: 30px
        .modal
            padding-left: 15px
            padding-right: 15px
            font-size: 16px
            h2
                font-size: 20px
            .cross
                top: 17.5px
                width: 20px
    .mobile-menu
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100dvh
        transition: .7s ease transform
        transform: translateX(100%)
        z-index: 6
        background: rgb(24, 24, 24)
        padding-top: 32px
        padding-bottom: 60px
        overflow: hidden
        &.opened
            transform: translateX(0)
        .container
            position: relative
            display: flex
            flex-direction: column
            width: 100%
            height: 100%
            .__top
                display: flex
                align-items: center
                justify-content: space-between
                .a-logo img
                    width: 140px
            .cross
                width: 18px
            nav
                padding-top: 10px
                margin-top: auto
                text-align: right
                li
                    margin-bottom: 21px
                    a
                        font-size: 31px
                        font-weight: 700
                        line-height: 110%
                        color: #fff
            .socials
                display: flex
                justify-content: flex-end
                margin-top: 90px
                a:not(:first-child)
                    margin-left: 17px   