section#gallery
    transform: rotate(-10deg)
    width: 120%
    margin-left: -5%
    padding-top: 100px
    .swiper-slide
        width: fit-content
        padding-top: 15%
        position: relative
        img
            border-radius: 20px
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            object-fit: cover
    .swiper-wrapper
        transition-timing-function: linear
    .gallery-top
        margin-bottom: 5px
        transform: translateX(-16%)
        width: 125%
    .gallery-bottom
        margin-top: 10px
        transform: translateX(-10%)
        width: 115%

@media screen and (max-width: 991px)
    section#gallery
        width: 270%
        padding-top: 0
        margin-left: -10%
        margin-top: -5%
