section#questions
    padding-top: 160px
    .wrapper
        max-width: 780px
        .row
            margin-left: -25px
            margin-right: -25px
            >div
                padding-left: 25px
                padding-right: 25px
        .btn
            margin-top: 45px
    h2
        font-size: 32px
        font-weight: 700
        margin-bottom: 21px

@media screen and (max-width: 991px)
    section#questions
        padding-top: 94px
        h2
            font-size: 26px
            margin-bottom: 50px
            text-align: center
