section#brand-history
    text-align: center
    margin-top: 70px
    padding-top: 100px
    padding-bottom: 145px
    background: url(../img/history-bg.png) no-repeat top center
    color: #fff
    h2
        font-size: 40px
        margin-bottom: 54px
        font-weight: 400
        span
            font-weight: 700
    .container
        max-width: 1080px
        .top-text
            font-weight: 600
            display: block
        p
            margin-top: 40px

@media screen and (max-width: 991px)
    section#brand-history 
        padding-top: 55px
        padding-bottom: 110px
        background-size: cover 
        h2
            font-size: 30px
            margin-bottom: 32px
        .container .top-text
            font-size: 15px
        p
            font-size: 16px    
