section#section-top
    color: #fff
    height: 100dvh
    max-height: 955px
    position: relative
    overflow: hidden
    .__bg
        content: ''
        width: 400px
        height: 400px
        background: #0047BB
        position: absolute
        z-index: -1
        transition: .8s cubic-bezier(.77,0,.175,1) transform
        border-radius: 100%
        right: 0
        top: 0
    .video
        opacity: 0
        transition: .5s ease opacity .3s, 1.3s ease transform .2s
        transform: scale(0) rotate(-180deg)
    > .container
        display: flex
        padding-top: 100px
        padding-bottom: 38px
        .__left
            padding-top: 204px
            p
                font-size: 24px
        .__right
            max-width: 588px
            width: 100%
            .bottom
                display: flex
                align-items: center
                .start-business
                    cursor: pointer
                    margin-right: 52px
                    display: flex
                    justify-content: center
                    align-items: center
                    font-weight: 450
                    height: 163px
                    width: 163px
                    flex-shrink: 0
                    color: #fff
                    text-align: center
                    position: relative
                    &::before
                        content: ''
                        border: 1px solid rgb(255, 255, 255)
                        width: 100%
                        height: 100%
                        position: absolute
                        border-radius: 100%
                        transition: .6s cubic-bezier(0.89, -0.11, 0.05, 0.99) transform, .5s ease background
                        z-index: -1
                    &:hover
                        &:before
                            background: #fff
                            transform: scale(1.35)
                        span                            
                            color: #0047BB
                    span
                        max-width: 125px
                        transition: .5s ease color .1s
                        line-height: 1.25
            p
                font-size: 18px
    h1
        font-size: 45px
        font-weight: 400
        margin-bottom: 35px
        span
            font-weight: 600
@media screen and (max-width: 991px)
    section#section-top
        .__bg
            width: 200px
            height: 200px
        > .container
            flex-direction: column
            .__left
                padding-top: 70px
                p
                    font-size: 19px
            .__right
                p
                    display: none   
                .bottom .start-business
                    display: none                    
                .bottom .start-business span
                    font-size: 16px    
        h1
            font-size: 32px
        .video
            width: 100%
            margin-top: 20px
