section#proud
    padding-top: 150px
    padding-bottom: 50px
    .row
        align-items: center
        position: relative
        h2
            font-size: 40px
            color: rgb(0, 71, 187)
            font-weight: 400
            span
                font-weight: 700
        .petal-1
            position: absolute
            top: 100px
            right: 30px
            position: absolute
            top: -8px
            right: -142px
    .__right
        padding-left: 9%

@media screen and (max-width: 991px)
    section#proud
        padding-top: 70px
        .row .petal-1
            width: 344px
            top: -83px
            right: -131px
        .__right
            padding-left: 15px
            margin-top: 56px    
