section#open-business
    padding-top: 120px
    text-align: center
    h4
        max-width: 762px
        margin: 0 auto
        margin-bottom: 24px
    .row
        position: relative
        margin-left: -32px
        margin-right: -32px
        margin-top: 55px
        padding: 0px 86px
        >div
            padding-left: 32px
            padding-right: 32px
        .petal-2
            position: absolute
            left: -253px
            top: -295px
    .tariff
        display: flex
        flex-direction: column
        align-items: center
        border-radius: 20px
        background: rgb(255, 255, 255)
        padding: 53px 45px
        height: 100%
        >span
            font-size: 32px
            color: rgb(0, 71, 187)
            margin-bottom: 40px
            font-weight: 700
        .btn
            height: 45px
            display: flex
            align-items: center
            padding-left: 20px
            padding-right: 20px
            border: 1px solid rgb(0, 71, 187)
            font-size: 16px
            font-weight: 500
            &:hover
                background: rgb(0, 71, 187)
                color: #fff
        .rate
            margin-bottom: 32px
        ul
            margin-bottom: 36px

@media screen and (max-width: 991px)
    section#open-business
        .row
            padding-left: 10px
            padding-right: 10px
            margin-top: 72px
            > div
                margin-bottom: 30px
    