section#more-unique
    padding-top: 200px
    .container
        display: flex
    .__left
        max-width: 552px
        padding-top: 100px
    .__right
        display: flex
        justify-content: flex-end
        padding-left: 30px
        flex: 1
        position: relative
        img:last-child
            position: absolute
            top: -20px
            transition-delay: .2s

@media screen and (max-width: 991px)
    section#more-unique
        padding-top: 65px
        .container
            flex-direction: column
        .__right
            margin-top: 35px
            padding-left: 0
            img:last-child
                top: 20px
        .truck-bg
            width: 100%
        .truck
            width: 100%
