section#franchising
    padding-top: 100px
    h4
        position: relative
        &::after
            content: ''
            width: 9px
            height: 9px
            border-radius: 100%
            background: rgb(0, 71, 187)
            display: inline-block
            margin-left: 5px
            position: relative
            top: -7px
    .__left
        p
            max-width: 407px
    .__right
        padding-left: 15%
    .be-part
        display: flex
        justify-content: center
        align-items: center
        color: #fff
        width: fit-content
        margin-left: 50%
        cursor: pointer
        transform: rotate(-21deg)
        transition: 0.7s cubic-bezier(0.96, -0.18, 0.23, 1.2) transform
        margin-top: 35px
        &:hover
            transform: rotate(0deg)
        span
            position: absolute

@media screen and (max-width: 991px)            
    section#franchising 
        .be-part
            margin-left: 0
            margin-bottom: 50px
            transform: rotate(-11deg)