section#unique
    padding-top: 40px
    color: #fff
    margin-top: -1px
    h2
        font-weight: 700
        font-size: 100px
        color: rgb(0, 71, 187)
        white-space: nowrap
        margin-bottom: 40px
        span
            font-weight: 400
    .wrapper
        overflow: hidden
        position: relative
        .outer-flower
            transition: 1s ease opacity, 1s ease transform
            transition-delay: 0.6s
            opacity: 0
            transform: translateY(-40px)
            position: absolute
            mix-blend-mode: color-burn
            &.bus-flower-1
                left: -116px
                top: -92px
            &.bus-flower-2
                right: -230px
                top: 203px
        .container
            padding-top: 130px
            display: flex
            flex-direction: column
            align-items: center
            position: relative
        .__bg
            position: absolute
            background: #0047BB
            width: 846px
            height: 846px
            transition: 1.1s cubic-bezier(.77,0,.175,1) transform
            bottom: 0
            border-radius: 100%
            z-index: -1
        .info
            max-width: 440px
            text-align: center
            h3
                margin-bottom: 25px
                font-size: 18px
                font-weight: 700
        .woman
            margin-top: 20px
            transition: .5s cubic-bezier(0.77, 0, 0.175, 1) border-radius
            border-radius: 165px
        .see-video-outer
            position: absolute
            right: 15px
            top: 30px
            display: flex
            align-items: center
            cursor: pointer
            transition: 1s ease transform
            .circle
                width: 50px
                height: 50px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 100%
                background: rgb(0, 71, 187)
                margin-right: 14px
                transition: .5s ease background
                position: relative
                &::before, &::after
                    content: ''
                    position: absolute
                    border: 1px solid #93A4D9
                    left: -20px
                    opacity: 0
                    right: -20px
                    top: -20px
                    bottom: -20px
                    border-radius: 50%
                    animation: pulse 2.5s linear infinite
                    z-index: -1
                &::after
                    animation-delay: 2s
                path
                    transition: .5s ease fill
            span
                color: rgb(24, 24, 24)
                transition: .5s ease color
        .quotes-outer
            position: absolute
            left: -130px
            bottom: 40px
            font-weight: 300
            max-width: 441px
            text-align: right
            font-style: italic
            img
                margin-right: 272px
                margin-bottom: 15px
        &.scrolled
            .see-video-outer
                transition-delay: .4s
                transform: translateY(700px)
                .circle
                    transition-delay: .4s
                    background: #fff
                    path
                        transition-delay: .4s
                        fill: #0047BB
                span
                    transition-delay: .4s
                    color: #fff
            .woman
                border-radius: 0
            .bus-flower-1, .bus-flower-2
                opacity: 1
                transform: translateY(0)
@keyframes pulse
    0%
        transform: scale(0.3)
        opacity: 0

    50%
        opacity: 1

    100%
        transform: scale(1)
        opacity: 0

@media screen and (max-width: 991px)
    section#unique
        h2
            font-size: 25px
        .bus-flower-1 img
            width: 250px
        .bus-flower-2 img
            width: 390px
        .wrapper
            .container
                padding-top: 70px
            .woman
                width: 340px
                margin-top: 55px
                border-radius: 122px
            .__bg
                width: 600px
                height: 600px    
            .see-video-outer
                margin-bottom: 60px
                position: static
            &.scrolled .see-video-outer
                transform: translateY(0)
                right: initial
