section#what-u-get
    padding-top: 140px
    .row
        position: relative
        padding-left: 30%
        margin-left: -32px
        margin-right: -32px
        .what-u-get
            position: absolute
            z-index: 1
            left: -430px
        > div
            margin-bottom: 31px
            padding-left: 32px
            padding-right: 32px
            .card
                border-radius: 40px
                background: #fff
                padding: 34px 41px
                height: 100%
        h3
            font-size: 32px
            font-weight: 700
            margin-bottom: 68px
        h4
            margin-bottom: 20px

@media screen and (max-width: 991px)
    section#what-u-get
        padding-top: 120px
        text-align: center
        .row
            padding-left: 0
            h3
                margin-bottom: 15px
                font-size: 25px
        img.what-u-get
            display: none    
